spring:
  profiles:
    active: dev
  cache:
    type: simple

server:
  port: 8081
  servlet:
    context-path: /mis-productos
---

spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect


---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://167.88.164.132:3306/inventarioRespaldo
#    url: ${SPRING_DATASOURCE_URL}
#    username: ${SPRING_DATASOURCE_USERNAME}
    username: trece
#    password: ${SPRING_DATASOURCE_PASSWORD}
    password: Luvianos*13
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
#logging:
#  level:
#    org.hibernate.SQL: DEBUG
#    org.hibernate.orm.jdbc.bind: TRACE

logging:
  level:
    root: INFO
    com.miempresa: DEBUG

---

spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
logging:
  level:
    org.hibernate.SQL: INFO
    org.hibernate.orm.jdbc.bind: INFO


#springdoc:
#  swagger-ui:
#    enabled: true
#    url: /openapi.yml
#    path: /swagger-ui.html


